* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/Mobile-App/img/bg_001.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

/* div {
  border: 1px dotted red;
} */

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}

.navigation > img {
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.main-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.main-nav > li {
  padding-left: 23px;
  margin-left: 22px;
}

.main-nav > li > a {
  text-decoration: none;
  color: white;
}

/* ----------------
    MIDDLE SECTION 
   ---------------- */

.banner {
  /* background-color: rgb(184, 184, 184); */
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.img-wrapper {
  max-width: 35vw;
  position: absolute;
  right: 400px;
  top: 220px;
}

#twopic {
  position: relative;
  left: 50px;

  width: 240px;
  height: 493.5px;
  object-fit: contain;
  z-index: 1;
}

#onepic {
  position: relative;
  right: 50px;
  bottom: 10px;
  width: 240px;
  height: 493.5px;
  /* object-fit: contain; */
}

.title {
  font-size: 50px;
  max-width: 570px;
  padding-bottom: 20px;
}

.descreption {
  font-size: 25px;
  max-width: 570px;
  line-height: 30px;
}

.btn-wrapper {
  /* background-color: white; */
  height: 80px;
  max-width: 570px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 16px 32px;
  padding-top: 20px;
  margin-right: 20px;
  text-align: center;
  width: 12vw;
  min-height: 7vh;
  border-radius: 5px;
}

#btn-one {
  background-color: rgb(107, 252, 24);
}

#btn-two {
  background-color: rgb(28, 24, 252);
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 800px;
    position: relative;
  }

  .wrapper h1 {
    position: relative;
    top: 540px;
    left: 50px;
    max-width: 800px;
  }

  .wrapper p {
    position: relative;
    top: 560px;
    left: 50px;
    max-width: 680px;
  }

  .header {
    /* background-color: rgb(247, 0, 0); */
  }
  .img-wrapper {
    position: absolute;
    display: flex;
    top: 0;
    left: 150px;
  }

  .btn-wrapper {
    position: relative;
    top: 580px;
    display: flex;
    justify-content: flex-start;
    left: 50px;
    /* background-color: white; */
    max-width: 680px;
  }

  .btn {
    margin-left: 30px;
  }

  #btn-one {
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #btn-two {
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamb {
    height: 50px;
    width: 50px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 20px;
    top: 40px;
    border: 1px solid white;
  }

  .hamb div {
    height: 3px;
    width: 25px;
    background-color: rgb(255, 255, 255);
  }
}
