* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/Mobile-App/img/bg_001.jpg);
}
a {
  color: white;
}
h1 {
  color: white;
  margin-top: 15%;
  font-size: 40px;
}

p {
  color: white;
  margin-top: 5%;
  font-size: 17px;
}
.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.logo img {
  margin-top: 50px;
  width: 150px;
  height: auto;
  float: left;
}
.row {
  max-width: 1050px;
  margin: auto;
}
.main {
  position: relative;
  left: 400px;
  /* margin-top: 200px; */
  width: 60%;
  height: 800px;
  /* border: 1px solid rgb(0, 0, 0); */
}
.left {
  margin-top: 8%;
  float: left;
  width: 45%;
  height: 470px;
  margin-left: 7%;
  /* margin-right: 5%; */
  /*  border: 1px solid rgb(255, 0, 0); */
  position: relative;
  left: -4%;
}
.right {
  margin-top: 8%;
  float: left;
  width: 45%;
  height: 470px;
  /* border: 1px solid rgb(229, 255, 0); */
}
img {
  width: 45%;
  height: 100%;
}
#onepic {
  position: relative;
  left: 35%;
}
#twopic {
  position: relative;
  right: 38%;
  bottom: -2%;
}

button {
  width: 35%;
  border: none;
  border-radius: 3%;
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
#but-one {
  margin: 5%;
  margin-left: -1%;
  background-color: rgb(63, 184, 69);
}
#but-two {
  margin-left: -1%;
}
