* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/Mobile-App/img/bg_001.jpg);
}
a {
  color: white;
}
a:hover {
  color: red;
  outline: 1px solid rgb(255, 255, 255);
  /* outline-offset: -30px; */
}
h1 {
  color: white;
  margin-top: 13%;
  font-size: 40px;
}
.head :hover {
  transform: scale(1.4);
  transition: transform 6s;
}
p {
  color: white;
  margin-top: 5%;
  font-size: 17px;
}
.parag :hover {
  transform: scale(1.4);
  transition: transform 6s;
}
.main-nav {
  /* float: right; */
  display: flex;
  list-style-type: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  /* width: fit-content; */
}
/* .logo {
  margin-left: 41.5%;
} */
.logo img {
  margin-top: 50px;

  width: 150px;
  height: auto;
}
.logo img :hover {
  transform: scale(1.2);
  transition: transform 2s;
}
.row {
  max-width: 1050px;
  /*  margin: auto; */
  height: 20vh;
  display: flex;
  justify-content: center;
}
#menu {
  border: 1px dotted orange;
}
.main {
  /* z-index: -1; */
  position: absolute;
  top: 20%;
  left: 400px;
  margin-top: 0px;
  width: 60%;
  height: 800px;
  /* border: 1px solid rgb(0, 0, 0); */
}
.left {
  margin-top: 8%;
  float: left;
  width: 45%;
  height: 100%;
  margin-left: 7%;
  /* margin-right: 5%; */
  /*  border: 1px solid rgb(255, 0, 0); */
  position: relative;
  left: -4%;
}
.right {
  margin-top: 8%;
  float: left;
  width: 45%;
  height: 470px;
  /* border: 1px solid rgb(229, 255, 0); */
}
img {
  max-width: 100%;
  width: 45%;
  height: 100%;
}
img:hover {
  transform: rotate(20deg);
  transform: scale(1.2);
  transition: transform 2s;
}
#onepic {
  position: relative;
  left: 40%;
}
#twopic {
  position: relative;
  right: 35%;
  bottom: -2%;
}

button {
  width: 40%;
  border: none;
  border-radius: 3%;
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-top: 8%;
}
#but-one {
  margin: 5%;
  margin-left: -1%;
  background-color: rgb(63, 184, 69);
}
#but-one:hover {
  background-color: rgb(255, 75, 75);
  outline: 1px solid rgb(255, 255, 255);
}

#but-two {
  margin-left: -1%;
}

#but-two:hover {
  background-color: rgb(255, 75, 75);
  outline: 1px solid rgb(255, 255, 255);
}

/* Hamburger menu */

.hamburger {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
  border: 1px dotted yellow;
  height: 30%;
  margin-top: 5%;
  background-color: transparent;
}

.hamburger div {
  border: 1px dotted red;
  width: 1vw;
  height: 2vh;
}
