* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/Mobile-App/img/bg_001.jpg);
  display: grid;
  grid-template-rows: 20% auto 25%;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;

  background-color: burlywood;
}
/* div {
  border: 1px dotted red;
} */
a {
  color: white;
}
a:hover {
  cursor: pointer;
  color: red;
  outline: 1px solid rgb(255, 255, 255);
}
h1 {
  color: white;
  margin-top: 13%;
  font-size: 40px;
  padding-left: 2vw;
}
/* .head :hover {
  transform: scale(1.4);
  transition: transform 6s;
} */
.parag {
  padding-left: 0.8vw;
}

p {
  color: white;
  margin-top: 5%;
  font-size: 18px;
}

/* TOP SECTION */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* MENU */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50vw;
}

.main-nav {
  list-style-type: none;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 12px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  /* margin-left: 64%; */
  width: 150px;
  /* height: auto; */
}
/* .logo img :hover {
  transform: scale(1.2);
  transition: transform 2s;
} */

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
.left {
  /*  border: 1px dashed blue; */
  width: 45%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}

#first {
  z-index: 1;
}

.right img {
  height: 95%;
  width: 90%;
}

#twopic {
  margin-left: 50%;
  margin-top: 6%;
  z-index: 200;
}

#onepic {
  z-index: 100;
}
/* BUTTONS */

.btns {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  border-radius: 3%;
  background-color: rgb(0, 140, 255);
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  /* bottom: 10%; */
}

#but-one {
  background-color: rgb(63, 184, 69);
}

#but-one:hover {
  background-color: rgb(255, 75, 75);
  outline: 1px solid rgb(255, 255, 255);
}

#but-two {
  margin-left: -1%;
}

#but-two:hover {
  background-color: rgb(255, 75, 75);
  outline: 1px solid rgb(255, 255, 255);
}

/* MENU */

.hamburger {
  /* position: absolute; */
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
}

.hamburger div {
  height: 0.22rem;
  width: 2.5rem;
  background-color: rgb(255, 255, 255);
}

.menu-wrapper {
  /* border: 1px dashed rgb(166, 255, 1); */
  /* background-color: royalblue; */
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.menu {
  visibility: visible;
}

@media only screen and (max-width: 660px) {
  body {
    margin: 0 auto;
  }
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /* justify-content: center; */
    /* background-color: rgb(148, 148, 148); */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 40vh;
    z-index: 1;
  }

  .hamburger {
    /* background-color: blue; */
    /* border: 1px dotted rgb(255, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    visibility: visible;
    position: relative;
  }

  .open {
    background-color: yellow;
    height: 100%;
    width: 100%;
    z-index: -100;
  }

  .navbar {
    /* border: 1px dotted rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    min-width: 50vw;
    height: 10vh;
    margin-top: 4vh;
    /* min-height: 40vh; */
  }

  .logo {
    /*  border: 1px solid rgb(105, 110, 182); */
    margin-right: 60vw;
    position: relative;
    /* top: 1vh; */
    padding-left: 5vw;
  }

  .navbar ul {
    flex-direction: column;
    border: 1px dotted rgb(255, 251, 0);
    /* display: none; */
    /*  height: 100%; */
  }

  .test {
    border: 2px solid violet;
  }

  .main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px dotted rgb(255, 251, 0);
    background-color: black; */
    /* visibility: hidden; */
  }
  .main {
    /* border: dotted rgb(0, 255, 42); */
    /* display: grid; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: flex-start; */
    width: 100vw;
  }
  .left {
    /* border: dotted; */
    order: 2;
  }
  .head {
    /*  border: dotted red; */
    position: relative;
    right: 16vw;
    bottom: 4vh;
    width: 170%;
    text-align: center;
  }
  .head h1 {
    font-size: 2.7rem;
    line-height: 70px;
  }
  .right {
    /* border: dotted yellow; */
    width: 50vw;
    order: 1;
    position: relative;

    display: flex;
    justify-content: center;
  }

  #first {
    /* border: 2px dotted rgb(236, 0, 0); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #second {
    /* border: 1px dotted yellow; */
    display: flex;
    justify-content: flex-end;
  }
  #twopic {
    /* border: 1px solid blue; */
  }

  .parag {
    /* border: dotted blue; */
    width: 150%;
    position: relative;
    right: 12vw;
    bottom: 5vh;
    /* text-align: center; */
  }

  .parag p {
    font-size: 1.5rem;
    line-height: 35px;
  }

  /* BUTTONS */

  .btns {
    /*  border: 4px dashed red; */
    display: flex;
    justify-content: space-between;
    width: 60vw;
    position: relative;
    right: 8vw;
    bottom: 5vh;
  }
  #btn-one {
    /* border: 3px solid white; */
  }

  #btn-two {
    /* border: 3px solid white;
    background-color: white; */
  }

  #bun-one {
    /*   border: 3px solid rgb(255, 0, 0); */
  }

  #bun-two {
    /*  border: 3px solid rgb(255, 0, 0); */
  }
}

/* MAX WIDTH  */

@media only screen and (max-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 40vh;
  }

  .hamburger {
    /* border: 1px dotted rgb(255, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    visibility: visible;
    position: relative;
    bottom: 6vh;
    margin-left: 80vw;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  background-color: black; */
    min-width: 50vw;
    height: 10vh;
    margin-top: 4vh;
    /* min-height: 40vh; */
  }

  .logo {
    /* border: 1px solid rgb(182, 105, 105); */
    margin-right: 70vw;
    margin-top: 10vh;
  }

  .navbar ul {
    /*  display: flex; */
    flex-direction: column;
    border: 1px dotted red;

    /*  height: 100%; */
  }

  .main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
  }
  .main {
    /* border: dotted rgb(0, 255, 42); */
    /* display: grid; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: flex-start; */
    width: 100vw;
  }
  .left {
    /* border: dotted; */
    order: 2;
  }
  .head {
    /*  border: dotted red; */
    position: relative;
    right: 20vw;
    bottom: 4vh;
    width: 180%;
    text-align: center;
  }
  .head h1 {
    font-size: 3rem;
    line-height: 70px;
  }
  .right {
    /* border: dotted yellow; */
    width: 50vw;
    order: 1;
    position: relative;

    display: flex;
    justify-content: center;
  }

  #first {
    /* border: 2px dotted rgb(236, 0, 0); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #second {
    /* border: 1px dotted yellow; */
    display: flex;
    justify-content: flex-end;
  }
  #twopic {
    /* border: 1px solid blue; */
  }

  .parag {
    /* border: dotted blue; */
    width: 170%;
    position: relative;
    right: 17vw;
    bottom: 8vh;
    /* text-align: center; */
  }

  .parag p {
    font-size: 1.5rem;
    line-height: 35px;
  }

  /* BUTTONS */

  .btns {
    /*  border: 4px dashed red; */
    display: flex;
    justify-content: space-between;
    width: 60vw;
    position: relative;
    right: 8vw;
    bottom: 7vh;
  }
  #btn-one {
    /* border: 3px solid white; */
  }

  #btn-two {
    /* border: 3px solid white;
    background-color: white; */
  }

  #bun-one {
    /*   border: 3px solid rgb(255, 0, 0); */
  }

  #bun-two {
    /*  border: 3px solid rgb(255, 0, 0); */
  }
}

/* MAX WIDTH CORRECTION */

@media only screen and (max-width: 1280px) {
  body {
    margin: 0 auto;
  }
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    min-height: 40vh;
  }

  .hamburger {
    /* border: 1px dotted rgb(255, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    visibility: visible;
    position: relative;
    bottom: 6vh;
    margin-left: 80vw;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    min-width: 50vw;
    height: 10vh;
    margin-top: 4vh;
    /* min-height: 40vh; */
  }

  .logo {
    /* border: 1px solid rgb(182, 105, 105); */
    margin-right: 70vw;
    margin-top: 10vh;
  }

  .navbar ul {
    /*  display: flex; */
    flex-direction: column;
    border: 1px dotted red;
    display: none;
    /*  height: 100%; */
  }

  .main-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* visibility: hidden; */
  }
  .main {
    /* border: dotted rgb(0, 255, 42); */
    /* display: grid; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: flex-start; */
    width: 100vw;
  }
  .left {
    /* border: dotted; */
    order: 2;
  }
  .head {
    /*  border: dotted red; */
    position: relative;
    right: 20vw;
    bottom: 4vh;
    width: 180%;
    text-align: center;
  }
  .head h1 {
    font-size: 3rem;
    line-height: 70px;
  }
  .right {
    /* border: dotted yellow; */
    width: 50vw;
    order: 1;
    position: relative;

    display: flex;
    justify-content: center;
  }

  #first {
    /* border: 2px dotted rgb(236, 0, 0); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #second {
    /* border: 1px dotted yellow; */
    display: flex;
    justify-content: flex-end;
  }
  #twopic {
    /* border: 1px solid blue; */
  }

  .parag {
    /* border: dotted blue; */
    width: 170%;
    position: relative;
    right: 17vw;
    bottom: 8vh;
    /* text-align: center; */
  }

  .parag p {
    font-size: 1.5rem;
    line-height: 35px;
  }

  /* BUTTONS */

  .btns {
    /*  border: 4px dashed red; */
    display: flex;
    justify-content: space-between;
    width: 60vw;
    position: relative;
    right: 8vw;
    bottom: 7vh;
  }
  #btn-one {
    /* border: 3px solid white; */
  }

  #btn-two {
    /* border: 3px solid white;
    background-color: white; */
  }

  #bun-one {
    /*   border: 3px solid rgb(255, 0, 0); */
  }

  #bun-two {
    /*  border: 3px solid rgb(255, 0, 0); */
  }
}
